# CakePHP Config Files
/app/Config/database.php
/app/Config/email.php
/app/Config/core.php

# CakePHP Misc. Files
/app/tmp/*
!/app/tmp/
/app/tmp/cache/models/*
!/app/tmp/cache/models/
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/
!/app/tmp/cache/views/empty
/app/tmp/logs/*
!/app/tmp/logs/
!/app/tmp/logs/empty
/app/tmp/sessions/*
!/app/tmp/sessions/
!/app/tmp/sessions/empty
/app/tmp/tests/*
!/app/tmp/tests/
!/app/tmp/tests/empty

# Netbeans
/nbproject

# Mac specific
.DS_Store

# Windows specific
Thumbs.db
